

#grafico-01{
        background-color: brown;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
}

#grafico-01 img{
    width: 100%;
}

#grafico-01{
    text-align: left;
}

#grafico-02{
    background: brown;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

#imagem-vetorial{
width: 100px;
}

#canvas{
    height: 300px;
    width: 300px;
}