
table {

	border: 1px solid;
	background: #ffffff;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

tr,td {
	border: 1px solid;
}

table tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, .1);
}

table th:nth-child(2) {
  	colspan: 2;
}

table tbody tr:nth-child(1) {
	font-weight: bold;
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
}

table tr td :first-child {
	font-weight: bold;
}

.table-container table th {
	border: 1px solid;
	text-align: center;
	background: rgba(0, 0, 255, .4);
}

.table-container {
	padding: 2rem 1rem;
}

.table-container tfoot {
	background: rgba(0, 0, 255, .4);
}

.table-container tfoot td {
	font-weight: bold;
}

